<%= form_for [:admins, object] do |f| %>
  <div class="panel panel-info">

    <div class="panel-heading">
      <div class="buttons pull-right">
	<a class="btn btn-link cancel_question">Отмена</a>
	<%= f.submit "Подтвердить", class: 'btn btn-primary', id: 'submit_1q' %>
      </div>
      <h3 class="h4">
	Задание 1
      </h3>
    </div>

    <div class="panel-body">
      <div class="row">
	<div class="col-md-6 form-group">
	  <%= f.label :number, "Номер" %>
	  <%= f.text_field :number, id: 'field_1q_number', class: 'form-control',
	    value: set_number_for_question(object, 'first', Question.all_first_questions.last),
	    required: 'required' %>
	</div>
	<div class="col-md-6 form-group">
	  <%= f.label :audience, "Аудитория" %> <br>
	  <div data-toggle="buttons" class="btn-group">
	    <label class="btn btn-default">
	      <%= f.radio_button :audience, "Менеджмент", id: 'field_1q_audience_1', required: 'required' %>
	      Менеджмент
	    </label>
	    <label class="btn btn-default">
	      <%= f.radio_button :audience, "Рабочая специальность", id: 'field_1q_audience_2', required: 'required' %>
	      Рабочая специальность
	    </label>
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="col-md-6">
	  <%= label_tag :left_statement, "Утверждение слева" %><br>
	  <%= text_field_tag :left_title, object.left_title, placeholder: "Заголовок", id: 'field_1q_left_title', class: 'form-control' %><br>
	  <%= text_area_tag :left_text, object.left_text, placeholder: "Текст", id: 'field_1q_left_text', class: 'form-control', rows: 7, required: 'required' %>
	</div>
	<div class="col-md-6">
	  <%= label_tag :right_statement, "Утверждение справа" %><br>
	  <%= text_field_tag :right_title, object.right_title, placeholder: "Заголовок", id: 'field_1q_right_title', class: 'form-control' %><br>
	  <%= text_area_tag :right_text, object.right_text, placeholder: "Текст", id: 'field_1q_right_text', class: 'form-control', rows: 7, required: 'required' %>
	</div>
      </div>

      <hr>
      <div class="row">
	<div class="col-md-6 form-group">
	  <div data-toggle="buttons" class="btn-group">
	    <label class="btn btn-default">
	      <%= f.radio_button :opinion_subject, "Я", id: 'field_1q_subject_1', required: 'required' %>
	      Я
	    </label>
	    <label class="btn btn-default">
	      <%= f.radio_button :opinion_subject, "Мои коллеги", id: 'field_1q_subject_2', required: 'required' %>
	      Мои коллеги
	    </label>
	  </div>
	</div>
	<div class="col-md-6 form-group">
	  <%= f.text_field :criterion, class: 'form-control', id: 'field_1q_criterion', placeholder: "Критерий", required: 'required' %>
	</div>
      </div>
      <div class="form-group">
	<div data-toggle="buttons" class="btn-group">
	  <label class="btn btn-default">
	    <%= f.radio_button :criterion_type, "Вовлеченность", id: 'field_1q_criterion_type_1', required: 'required' %>
	    Вовлеченность
	  </label>
	  <label class="btn btn-default">
	    <%= f.radio_button :criterion_type, "Удовлетворенность", id: 'field_1q_criterion_type_2', required: 'required' %>
	    Удовлетворенность
	  </label>
	</div>
      </div>
    </div>
  </div>
<% end %>
