<div class="panel panel-default question <%= question.audience == "Менеджмент" ? 'management' : 'working_staff' %>">
  <div class="panel-heading">
    <div class="buttons pull-right">
      <a class="edit_question_link btn btn-sm btn-info" title="Редактировать">
	<span class="glyphicon glyphicon-pencil"></span>
      </a>
      <%= link_to admins_question_path(question), method: :delete, class: 'btn btn-sm btn-danger delete_question', title: "Удалить", data: { confirm: "Вопрос будет удален. Подтверждаете действие?" } do %>
	<span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
    <h3 class="h4 text-right">
      №<%= question.number - 200 %>
      <span class="label label-primary pull-left">
	<%= question.audience %>
      </span>
    </h3>
  </div>
  <div class="panel-body question_sentence">
    <%= question.sentence %>
  </div>
</div>
<div class="container_question_form">
  <%= render 'admins/questions/second_question_form', object: question %>
</div>
