<div class="container">
  <h1 class="header">Опросы <span class="badge"><%= @surveys.count %></span>
  </h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input id="search_survey" type="text" placeholder="Поиск"></input>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<section id="all_surveys" class="container-fluid">
  <% @surveys.each do |survey| %>
    <div class="panel panel-default survey">
      <div class="panel-body">
	<h2 class="h4">
	  Респондент: 
	  <%= link_to survey.user.login, admin_user_path(survey.user), class: 'show_user' %>
	  <span class="pull-right">
	    <%= link_to "Результаты", admin_survey_path(survey), class: 'btn btn-primary show_survey' %>
	  </span>
	</h2>
	<p>
	  <%= survey.completed? ? "ЗАВЕРШЕН #{survey.pass_date}" : "НЕ ЗАВЕРШЕН" %>
	</p>
      </div>
    </div>
  <% end %>
</section>

<div class="text-center">
  <%= will_paginate @surveys, renderer: BootstrapPagination::Rails %>
</div>
