<div class="container">
  <h1 class="header">Компании <span class="badge"><%= @companies.count %></span></h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4 col-md-offset-8">
      <a id="add_company" class="btn btn-success">
	<span class="glyphicon glyphicon-plus"></span>
	Добавить компанию
      </a>
    </div>
  </div>

  <div id="add_new_company">
    <%= label_tag :company_name, "Добавить компанию" %>
    <%= render 'form', object: @new_company %>
  </div>
</div>

<div id="masonry_container" class="container-fluid">
  <% @companies.each do |company| %>
    <div class="panel panel-default masonry_element company">
      <div class="panel-body">
	<div class="pull-right buttons">
	  <a class="update_company btn btn-sm btn-info" title="Изменить имя">
	    <span class="glyphicon glyphicon-pencil"></span>
	  </a>
	  <%= link_to admin_company_path(company), method: :delete, class: "delete_company btn btn-sm btn-danger", title: "Удалить", data: { confirm: "Компания будет удалена. Подтверждаете действие?" } do %>
	    <span class="glyphicon glyphicon-trash"></span>
	  <% end %>
	</div>
	<h2 class="h4 company_name">
	  <%= company.name %>
	</h2>
	<%= render 'form', object: company %>
      </div>
    </div>
  <% end %>
</div>
