<h1 class="header">Компании <span class="badge"><%= @companies.count %></span></h1>

<a id="add_company" class="btn btn-success pull-right">Добавить компанию</a>

<div id="add_new_company">
  <%= label_tag :company_name, "Добавить компанию" %>
  <%= render 'form', object: @new_company %>
</div>

<div class="list-group" id="all_companies">
  <% @companies.each do |company| %>
    <div class="list-group-item company">
      <div class="pull-right buttons">
	<a class="update_company btn btn-sm btn-info">Изменить</a>
	<%= link_to "Удалить", admin_company_path(company), method: :delete, class: "delete_company btn btn-sm btn-danger" %>
      </div>
      <h2 class="h4 company_name">
	<%= company.name %>
      </h2>
      <%= render 'form', object: company %>
    </div>
  <% end %>
</div>
