<div class="container">
  <h1 class="header">Респонденты <span class="badge"><%= @users.count %></span></h1>
</div>

<div class="masonry_container container-fluid">
  <% @users.each do |user| %>
    <div class="panel panel-default masonry_element user">
      <div class="panel-body">
	<div class="buttons pull-right">
	  <%= link_to coordinator_user_surveys_path(user), class: 'btn btn-primary show_surveys', title: "Опросы" do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    <span class="badge">
	      <%= user.surveys.count %>
	    </span>
	  <% end %>
	</div>
	<h2 class="h4">
	  <%= user.login %>
	</h2>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

