<div class="container">
  <h1 class="header">
    Результаты поиска <span class="badge"><%= @total_count %></span>
  </h1>

  <div id="manage_bar">
<% if @nothing_found %>
    <h2 class="h4 text-center">К сожалению, по Вашему запросу ничего найти не удалось</h2>
  </div>
</div>
<% else %>
    <div class="text-center">
      <div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary" id="coord_users_search_results">
	  <input type="radio">
	    Респонденты
	    <span class="badge"><%= @users.count %></span>
	  </input>
	</label>
	<label class="btn btn-primary" id="coord_surveys_search_results">
	  <input type="radio">
	    Опросы
	    <span class="badge"><%= @surveys.count %></span>
	  </input>
	</label>
      </div>
    </div>
  </div>
</div>
<section id="search_results">
  <div id="users_search_results">
    <% unless @users.blank? %>
      <div class="masonry_container container-fluid">
	<% @users.each do |user| %>
	  <%= render partial: 'shared/user', locals: { user: user, buttons: 'coordinators/users/buttons' } %>
	<% end %>
      </div>
      <div class="text-center">
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
  <div id="surveys_search_results">
    <% unless @surveys.blank? %>
      <div class="masonry_container container-fluid">
	<% @surveys.each do |survey| %>
	  <%= render partial: 'surveys/survey_thumb', locals: { survey: survey, link: coordinators_user_survey_path(survey.user, survey) } %>
	<% end %>
      </div>
      <div class="text-center">
	<%= will_paginate @surveys, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
</section>
<% end %>
