<div class="panel panel-default masonry_element user">
  <div class="panel-body">
    <div class="pull-right buttons">
      <%= render partial: buttons, locals: { user: user } %>
    </div>
    <h2 class="h4">
      <span class="glyphicon glyphicon-user" title="Логин"></span>
      <%= user.login %>
    </h2>
    <% unless user.info.nil? %>
      <h2 class="h4 pull-left">
        <span class="glyphicon glyphicon-info-sign" title="Информация"></span>
      </h2>
      <ul class="user_info">
	<li><strong>Пол: </strong><%= user.info.gender %></li>
	<li><strong>Возраст: </strong><%= user.info.age %></li>
	<li><strong>Компания: </strong><%= user.info.company %></li>
	<li><strong>Время работы в компании: </strong><%= user.info.experience %></li>
	<li><strong>Должность: </strong><%= user.info.work_position %></li>
	<li><strong>Место работы по счету: </strong><%= user.info.workplace_number %></li>
      </ul>
    <% end %>
  </div>
</div>
