<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:c="urn:schemas-microsoft-com:office:component:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x2="http://schemas.microsoft.com/office/excel/2003/xml" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
    <Colors>
      <Color><Index>3</Index><RGB>#c0c0c0</RGB></Color>
      <Color><Index>4</Index><RGB>#ff0000</RGB></Color>
    </Colors>
  </OfficeDocumentSettings>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>9000</WindowHeight><WindowWidth>13860</WindowWidth>
    <WindowTopX>240</WindowTopX><WindowTopY>75</WindowTopY>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="Default" ss:Name="Default"/>
    <Style ss:ID="Heading" ss:Name="Heading"><Font ss:Bold="1"/></Style>
  </Styles>
  <ss:Worksheet ss:Name="Общая информация">
    <Table>
      <Row>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Номер опроса</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Дата прохождения опроса</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Опрос для</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Логин</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Пол</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Возраст</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Компания</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Время работы в компании</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Должность</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Место работы по счету</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Email</Data></Cell>
	<Cell ss:StyleID="Heading"><Data ss:Type="String">Отношение к опросу</Data></Cell>
      </Row>
      <% @surveys.each do |survey| %>
	<% user = survey.user %>
	<% info = user.info %>
	<Row>
	  <Cell ss:StyleID="ce3"><Data ss:Type="Number"><%= survey.id %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= survey.pass_date %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= survey.audience %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= user.login %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= info.gender %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= info.age %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= info.company %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= info.experience %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= info.work_position %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= info.workplace_number %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= survey.user_email %></Data></Cell>
	  <Cell><Data ss:Type="String"><%= survey.user_agreement %></Data></Cell>
	</Row>
      <% end %>
    </Table>
    <x:WorksheetOptions/>
  </ss:Worksheet>
  <ss:Worksheet ss:Name="Ответы">
    <Table>
      <Row>
	<Cell ss:StyleID="Heading" ss:MergeDown="1"><Data ss:Type="String">Номер опроса</Data></Cell>
	<Cell ss:StyleID="Heading" ss:MergeAcross="<%= @max_first_questions_count - 1%>"><Data ss:Type="String">Задание 1</Data></Cell>
	<Cell ss:StyleID="Heading" ss:MergeAcross="<%= @max_second_questions_count - 1%>"><Data ss:Type="String">Задание 2</Data></Cell>
      </Row>
      <Row>
        <Cell></Cell>
        <% @max_first_questions_count.times do |n| %>
	  <Cell ss:StyleID="Heading"><Data ss:Type="Number"><%= n + 1 %></Data></Cell>
	<% end %>
	<% @max_second_questions_count.times do |n| %>
	  <Cell ss:StyleID="Heading"><Data ss:Type="String">
	    <% question = Question.find_by(number: "20#{n+1}".to_i) %>
	    <%= question.nil? ? "ВОПРОС УДАЛЕН" : question.sentence %>
	  </Data></Cell>
	<% end %>
      </Row>
      <% @surveys.each do |survey| %> 
	<Row>
	  <Cell><Data ss:Type="Number"><%= survey.id %></Data></Cell>
	  <% @max_first_questions_count.times do |n| %>
	    <Cell><Data ss:Type="Number"><%= survey.answer_for(n+1) %></Data></Cell>
	  <% end %>
	  <% @max_second_questions_count.times do |n| %>
	    <Cell><Data ss:Type="String"><%= survey.answer_for("20#{n+1}".to_i) %></Data></Cell>
	  <% end %>
	</Row>
      <% end %>
    </Table>
    <x:WorksheetOptions/>
  </ss:Worksheet>
</Workbook>
