<div class="container">
  <h1 class="header">Опрос <%= @survey.user.login %></h1>
</div>

<div class="container">
  <section id="coordinator_survey">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h2 class="h4 text-center">Общая информация:</h2>
      </div>
      <div class="panel-body">
	<ul>
	  <li><strong>Дата прохождения опроса: </strong><%= @survey.pass_date %></li>
	  <li><strong>Опрос для: </strong><%= @survey.audience %></li>
	  <li><strong>Логин: </strong><%= @user.login %></li>
	  <li><strong>Пол: </strong><%= @info.gender %></li>
	  <li><strong>Возраст: </strong><%= @info.age %></li>
	  <li><strong>Компания: </strong><%= @info.company %></li>
	  <li><strong>Время работы в компании: </strong><%= @info.experience %></li>
	  <li><strong>Должность: </strong><%= @info.work_position %></li>
	  <li><strong>Место работы по счету: </strong><%= @info.workplace_number %></li>
	  <li><strong>Email: </strong><%= @survey.user_email %></li>
	  <li><strong>Отношение к опросу: </strong><%= @survey.user_agreement %></li>
	</ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h2 class="h4 text-center">Ответы:</h2>
      </div>
      <div class="panel-body">
	<h2 class="h4 text-center">Задание 1.</h2>
	<ul>
	  <% @first_responses.each do |resp| %>
	    <li>
	      <strong><%= resp.question_number %>. </strong>
	      <%= resp.answer %>
	    </li>
	  <% end %>
	</ul>
	<h2 class="h4 text-center">Задание 2.</h2>
	<ul>
	  <% @second_responses.each do |resp| %>
	    <li>
	      <% question = Question.find_by(number: resp.question_number) %>
	      <strong>
		<%= question ? question.sentence : "ВОПРОС БЫЛ УДАЛЕН" %>
	      </strong>
	      <p class="sentence"><%= resp.answer %></p>
	    </li>
	  <% end %>
	</ul>
      </div>
    </div>
  </section>
</div>
