<div class="container">
  <h1 class="header">Координаторы <span class="badge"><%= @coordinators.count %></span></h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4">
      <%= error_explanation_for @coordinator %>
      <% if session['coordinator_credentials'] %>
	<%= render partial: 'admins/shared/person_for_save', locals: { session_key: 'coordinator_credentials', address: admins_coordinator_path(Coordinator.find_by(login: session['coordinator_credentials']['login']), :pdf) } %>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <a id="add_coordinator_link" class="btn btn-success" data-toggle="modal" data-target="#new_coordinator_modal">
	<span class="glyphicon glyphicon-plus"></span>
	Создать координатора
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="new_coordinator_modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	      </button>
	      <h2 class="h3 text-center">Создать координатора</h2>
	    </div>
	    <div class="modal-body">
	      <%= render 'admins/shared/form', object: @coordinator %>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="masonry_container container-fluid">
  <% @coordinators.each do |coordinator| %>
    <%= render partial: 'coordinator', locals: { coordinator: coordinator } %>
  <% end %>
</div>
