<table id="table_results" class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th rowspan="2">№ п/п</th>
      <th rowspan="2">Наименование шкалы</th>
      <th rowspan="2">№ вопроса</th>
      <th colspan="2">Коэффициенты</th>
      <th rowspan="2" class="assessment">Общий балл</th>
    </tr>
    <tr>
      <th class="assessment">Оценка "Я"</th>
      <th class="assessment">Оценка "Мои коллеги"</th>
    </tr>
  </thead>
  <tbody>
    <% @criteria.each_with_index do |node, i| %>
      <% criterion = node[0]; questions = node[1] %>
      <% next if criterion.include?("Доверие к руководству") %>
      <% if i == 8 %>
	<tr class="info">
	  <td colspan="3">Общий уровень вовлеченности</td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
      <% elsif i == 12 %>
	<tr class="info">
	  <td colspan="3">Общий уровень удовлетворенности</td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
      <% end %>
      <tr>
	<td><%= i + 1 %></td>
	<td><%= criterion %></td>
	<td><%= questions.join(', ') %></td>
	<% questions.each do |q| %>
	  <td><%= survey.answer_for(q) %></td>
	<% end %>
	<td><%= survey.sum_of(questions)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'charts' %>
