<table id="table_results" class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th rowspan="2">№ п/п</th>
      <th rowspan="2">Наименование шкалы</th>
      <th rowspan="2">№ вопроса</th>
      <th colspan="2">Коэффициенты</th>
      <th rowspan="2" class="assessment">Общий балл</th>
    </tr>
    <tr>
      <th class="assessment">Оценка "Я"</th>
      <th class="assessment">Оценка "Мои коллеги"</th>
    </tr>
  </thead>
  <tbody>
    <% { @involvement_criteria => "Общий уровень вовлеченности",
	 @satisfaction_criteria => "Общий уровень удовлетворенности",
         @last_criteria => "" }.each do |criteria, summary| %>
      <% criteria.each do |criterion, question_numbers| %>
	<tr>
	  <td><%= @counter += 1 %></td>
	  <td><%= criterion %></td>
	  <td><%= question_numbers.join(', ') %></td>
	  <td>
	    <% ### Я %>
	    <% question_numbers.each do |q| %>
	      <%= answer_assessment_me(survey, q) %>
	    <% end %>
	  </td>
	  <td>
	    <% ### Мои коллеги %>
	    <% question_numbers.each do |q| %>
	      <%= answer_assessment_my_colleagues(survey, q) %>
	    <% end %>
	  </td>
	  <td>
	    <% ### total %>
	    <%= survey.sum_of(question_numbers)%>
	  </td>
	</tr>
      <% end %>
      <% unless summary.blank? %>
	<tr class="info">
	  <td colspan="3"><%= summary %></td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
      <% end %>
    <% end %>
  </tbody>
</table>
