<h1 class="header">Answer these questions</h1>

<div class="progress">
  <div class="progress-bar">
  </div>
</div>

<table class="table">
  <% @questions.each do |question| %>
    <tbody>
      <tr class="response">
	<th><%= question.id %></th>
	<th>
	  "<%= question.left_statement.title %>"
	  <%= question.left_statement.text %>
	</th>
	<th class="table_radio">
	  <%= form_for Response.new, remote: true, id: "question_#{question.id}" do |f| %>
	    <%= hidden_field_tag :survey_id, @survey.id %>
	    <%= f.hidden_field :question_number, value: question.number %>
	    <div class="form-group">
	      <label class="radio-inline">
		<%= f.radio_button :answer, 1, id: "question_#{question.id}_answer_1" %>1
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 2, id: "question_#{question.id}_answer_2" %>2
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 3, id: "question_#{question.id}_answer_3" %>3
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 4, id: "question_#{question.id}_answer_4" %>4
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 5, id: "question_#{question.id}_answer_5" %>5
	      </label>
	    </div>
	    <%= f.submit "Выбрать", class: "submit_question", id: "submit_question_#{question.id}" %>
	  <% end %>
	</th>
	<th>
	  "<%= question.right_statement.title %>"
	  <%= question.right_statement.text %>
	</th>
      </tr>
    </tbody>
  <% end %>
</table>

<%= link_to 'Получить краткие результаты', @survey, class: 'btn btn-primary btn-lg btn-block disabled', id: 'finish_survey' %>
