<div class="container">
  <% if @surveys.blank? %>
    <%= link_to "Пройти тест", surveys_path, method: :post, class: 'btn btn-primary btn-lg btn-block' %>
  <% else %>
    <h1 class="header">Завершенные опросы</h1>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @surveys.each do |survey| %>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="heading<%= survey.id %>">
	    <h2 class="panel-title h3">
	      <%= link_to "Краткие результаты", "#collapse#{survey.id}",
		class: 'btn btn-link pull-right', role: 'button',
		data: { toggle: 'collapse', parent: 'accordion' },
		aria: { expanded: 'false', controls: "collapse#{survey.id}" }
	      %>
	      <%= survey.pass_date %>
	    </h2>
	  </div>
	  <div id="collapse<%= survey.id %>" class="panel-collapse collapse <%= expand_state_for(survey) %>" role="tabpanel" aria-labelledby="heading<%= survey.id %>">
	    <div class="panel-body">
	      <%= render 'survey', survey: survey %>
	    </div>
	  </div>
	</div>
      <% end %>
    </div>
  <% end %>
</div>
