<div class="container">
  <h1 class="header">Что Вы думаете о своей компании?</h1>
</div>

<div class="panel panel-default" id="survey_take_container">
  <div class="panel-body">
    <div id="first_questions">
      <div class="specifying_question">
	<p id="current_question">
	  <%= @first_questions.first.title unless @first_questions.empty? %>
	</p>
      </div>
      <table class="table" id="take_survey_table">
	<tbody>
	  <% @first_questions.each_with_index do |question, n| %>
	    <tr class="response <%= n == 0 ? '' : 'hidden_question' %>">
	      <td class="left">
		<% unless question.left_statement.title.blank? %>
		  <strong>"<%= question.left_statement.title %>"</strong><br />
		<% end %>
		<%= question.left_statement.text %>
	      </td>
	      <td class="table_radio text-center">
		<p class="question_title"><%= question.title %></p>
		<%= form_for Response.new, remote: true do |f| %>
		  <%= hidden_field_tag :survey_id, @survey.id %>
		  <%= f.hidden_field :question_number, value: question.number %>
		  <%= f.hidden_field :criterion, value: question.criterion %>
		  <%= f.hidden_field :criterion_type, value: question.criterion_type %>
		  <div data-toggle="buttons">
		    <label class="btn btn-primary btn-lg">
		      <%= f.radio_button :answer, 1, id: "question_#{question.number}_answer_1", class: "r_#{question.number}" %>1
		    </label>
		    <label class="btn btn-primary">
		      <%= f.radio_button :answer, 2, id: "question_#{question.number}_answer_2", class: "r_#{question.number}"  %>2
		    </label>
		    <label class="btn btn-primary btn-sm">
		      <%= f.radio_button :answer, 3, id: "question_#{question.number}_answer_3", class: "r_#{question.number}"  %>3
		    </label>
		    <label class="btn btn-primary btn-sm">
		      <%= f.radio_button :answer, 4, id: "question_#{question.number}_answer_4", class: "r_#{question.number}"  %>4
		    </label>
		    <label class="btn btn-primary">
		      <%= f.radio_button :answer, 5, id: "question_#{question.number}_answer_5", class: "r_#{question.number}"  %>5
		    </label>
		    <label class="btn btn-primary btn-lg">
		      <%= f.radio_button :answer, 6, id: "question_#{question.number}_answer_6", class: "r_#{question.number}"  %>6
		    </label>
		  </div>
		  <%= f.submit "Выбрать", class: "submit_questions_1", id: "r_#{question.number}" %>
		<% end %>
	      </td>
	      <td class="right">
		<% unless question.right_statement.title.blank? %>
		  <strong>"<%= question.right_statement.title %>"</strong><br />
		<% end %>
		<%= question.right_statement.text %>
	      </td>
	    </tr>
	  <% end %>
	</tbody>
      </table>
    </div>

    <div id="second_questions">
      <div class="specifying_question">
	<p>Закончите следующие предложения:</p>
      </div>
      <hr style="border-top: 1px solid #dadada; margin-top: 10px; margin-bottom: 10px">
      <% @second_questions.each_with_index do |question, n| %>
	<div class="response <%= n == 0 ? '' : 'hidden_question' %>">
	  <blockquote><%= question.sentence %></blockquote>
	  <%= form_for Response.new, remote: true do |f| %>
	    <%= hidden_field_tag :survey_id, @survey.id %>
	    <%= f.hidden_field :question_number, value: question.number %>
	    <%= f.hidden_field :sentence, value: question.sentence %>
	    <%= f.hidden_field :criterion, value: question.criterion %>
	    <div class="input-group">
	      <%= f.text_field :answer, id: "question_#{question.number}_answer", class: "form-control" %>
	      <span class="input-group-btn">
		<%= f.submit "Ответить", class: "btn btn-default submit_questions_2" %>
	      </span>
	    </div>
	  <% end %>
	</div>
      <% end %>
    </div>
    <%= form_for @survey, remote: true do |f| %>
      <%= f.hidden_field :completed, value: true %>
      <%= f.submit 'Complete Survey', class: 'btn btn-primary btn-lg btn-block disabled', id: 'finish_survey' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Получить краткие результаты", @survey, class: 'btn btn-primary btn-lg btn-block', id: "show_results_link" %>
    </div>
  </div>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom" id="progress_line">
  <div class="progress">
    <% initial_value = "0/#{@sum_of_questions}" %>
    <div class="progress-bar" id="<%= initial_value %>">
      <%= initial_value %>
    </div>
  </div>
</footer>
