<h1 class="header">Answer these questions</h1>

<div class="progress">
  <% initial_value = "0/#{@questions.size}" %>
  <div class="progress-bar" id="<%= initial_value %>">
    <%= initial_value %>
  </div>
</div>

<table class="table">
  <tbody>
    <% @questions.each do |question| %>
      <tr class="response">
	<td>
	  <strong><%= question.id %></strong>
	</td>
	<td>
	  <% unless question.left_statement.title.blank? %>
	    <strong>"<%= question.left_statement.title %>"</strong><br />
	  <% end %>
	  <%= question.left_statement.text %>
	</td>
	<td class="table_radio text-center">
	  <strong><%= question.opinion_subject %></strong>
	  <%= form_for Response.new, id: "question_#{question.id}", remote: true do |f| %>
	    <%= hidden_field_tag :survey_id, @survey.id %>
	    <%= f.hidden_field :question_number, value: question.number %>
	    <%= f.hidden_field :opinion_subject, value: question.opinion_subject %>
	    <div class="form-group">
	      <label class="radio-inline">
		<%= f.radio_button :answer, 1, id: "question_#{question.id}_answer_1" %>1
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 2, id: "question_#{question.id}_answer_2" %>2
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 3, id: "question_#{question.id}_answer_3" %>3
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 4, id: "question_#{question.id}_answer_4" %>4
	      </label>
	      <label class="radio-inline">
		<%= f.radio_button :answer, 5, id: "question_#{question.id}_answer_5" %>5
	      </label>
	    </div>
	    <%= f.submit "Выбрать", class: "submit_question", id: "submit_question_#{question.id}" %>
	  <% end %>
	</td>
	<td>
	  <% unless question.right_statement.title.blank? %>
	    <strong>"<%= question.right_statement.title %>"</strong><br />
	  <% end %>
	  <%= question.right_statement.text %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Получить краткие результаты', @survey, class: 'btn btn-primary btn-lg btn-block disabled', id: 'finish_survey', data: { turbolinks: false } %>
