<div class="container">
  <h1 class="header">Опрос <%= @user.login %></h1>
</div>

<div class="container">
  <section id="coordinator_survey">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h2 class="h4 text-center">Общая информация:</h2>
      </div>
      <div class="panel-body">
	<table class="table table-hover">
	  <tbody>
	    <tr>
	      <td><strong>Дата прохождения: </strong></td>
	      <td><%= @survey.pass_date %></td>
	    </tr>
	    <tr>
	      <td><strong>Опрос для: </strong></td>
	      <td><%= @survey.audience %></td>
	    </tr>
	    <tr>
	      <td><strong>Респондент: </strong></td>
	      <td><%= @user.login %></td>
	    </tr>
	    <tr>
	      <td><strong>Пол: </strong></td>
	      <td><%= @info.gender %></td>
	    </tr>
	    <tr>
	      <td><strong>Возраст: </strong></td>
	      <td><%= @info.age %></td>
	    </tr>
	    <tr>
	      <td><strong>Компания: </strong></td>
	      <td><%= @info.company %></td>
	    </tr>
	    <tr>
	      <td><strong>Время работы в компании: </strong></td>
	      <td><%= @info.experience %></td>
	    </tr>
	    <tr>
	      <td><strong>Должность: </strong></td>
	      <td><%= @info.work_position %></td>
	    </tr>
	    <tr>
	      <td><strong>Место работы по счету: </strong></td>
	      <td><%= @info.workplace_number %></td>
	    </tr>
	    <tr>
	      <td><strong>Email: </strong></td>
	      <td><%= @survey.user_email %></td>
	    </tr>
	    <tr>
	      <td><strong>Отношение к опросу: </strong></td>
	      <td><%= @survey.user_agreement %></td>
	    </tr>
	</table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
	<h2 class="h4 text-center">Задание 1.</h2>
	<%= render partial: 'surveys/survey', locals: { survey: @survey } %>
	<h2 class="h4 text-center">Задание 2.</h2>
	<ul>
	  <% @second_responses.each do |resp| %>
	    <li>
	      <strong><%= resp.sentence %></strong>
	      <p class="sentence"><%= resp.answer %></p>
	    </li>
	  <% end %>
	</ul>
      </div>
    </div>
  </section>
</div>
