<div class="container">
  <h1 class="header">Респонденты <span class="badge"><%= @users.count %></span></h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4">
      <%= render_user %>
    </div>
    <div class="col-md-4">
      <input id="search_users" type="text" placeholder="Поиск"></input>
    </div>
    <div class="col-md-4">
      <a class="btn btn-success" id="add_user_link" data-toggle="modal" data-target="#new_user_modal">
	<span class="glyphicon glyphicon-plus"></span>
	Создать респондента
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= error_explanation_for @user %>

      <div id="new_user_modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	      </button>
	      <h2 class="h3 text-center">Создать респондента</h2>
	    </div>
	    <div class="modal-body">
	      <%= render 'form', object: @user %>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

<div id="masonry_container" class="container-fluid">
  <% @users.each do |user| %>
    <div class="panel panel-default masonry_element user">
      <div class="panel-body">
	<div class="buttons pull-right">
	  <a class="edit_user_link btn btn-info btn-sm" data-toggle="modal" data-target="#edit_user_<%= user.id %>_modal">
	    <span class="glyphicon glyphicon-pencil"></span>
	  </a>
	</div>
	<h2 class="h4">
	  Логин: <%= user.login %>
	</h2>
	<h2 class="h4">
	  Пароль: <%= user.decrypted_password %>
	</h2>
      </div>
    </div>
    <div id="edit_user_<%= user.id %>_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	    <h2 class="h3 text-center">Изменить логин/пароль</h2>
	  </div>
	  <div class="modal-body">
	    <%= render 'form', object: user %>
	  </div>
	</div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
