<div class="container">
  <h1 class="header">Респонденты <span class="badge"><%= @users.count %></span></h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4">
      <%= error_explanation_for @user %>
      <%= render_person('user_credentials') %>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <a class="btn btn-success" id="add_user_link" data-toggle="modal" data-target="#new_user_modal">
	<span class="glyphicon glyphicon-plus"></span>
	Создать респондента
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="new_user_modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	      </button>
	      <h2 class="h3 text-center">Создать респондента</h2>
	    </div>
	    <div class="modal-body">
	      <%= render 'shared/form', object: @user %>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="masonry_container container-fluid">
  <% @users.each do |user| %>
    <%= render partial: 'user', locals: { user: user } %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
