<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="header">Создать респондента</h1>

      <%= form_for [:admin, @user] do |f| %>
	<%= error_explanation_for @user %>

	<div class="form-group">
	  <%= f.label :login, "Логин" %>
	  <div class="input-group">
	    <%= f.text_field :login, class: 'form-control' %>
	    <span class="input-group-btn">
	      <a id="generate_login" class="btn btn-default">Генерировать логин</a>
	    </span>
	  </div>
	</div>

	<div class="form-group">
	  <%= f.label :password, "Пароль(не менее 6 символов)" %>
	  <div class="input-group">
	    <%= f.text_field :password, class: 'form-control' %>
	    <span class="input-group-btn">
	      <a id="generate_password" class="btn btn-default">Генерировать пароль</a>
	    </span>
	  </div>
	</div>

	<%= f.submit "Создать", class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
</div>
