<div class="container">
  <h1 class="header">Опросы <span class="badge"><%= @surveys.count %></span>
  </h1>

  <div id="manage_bar" class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input id="search_survey" type="text" placeholder="Поиск"></input>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<section id="all_surveys" class="container-fluid">
  <% @surveys.each do |survey| %>
    <div class="panel panel-default survey">
      <div class="panel-body">
	<div class="buttons pull-right">
	  <%= link_to "Результаты", coordinator_survey_path(survey), class: 'btn btn-primary show_survey' %>
	</div>
	<h2 class="h4">
	  <small>РЕСПОНДЕНТ:</small> <%= survey.user.login %>
	</h2>
	<p>
	  <%= survey.completed? ? survey.pass_date : "Не завершен" %>
	</p>
      </div>
    </div>
  <% end %>
</section>

<div class="text-center">
  <%= will_paginate @surveys, renderer: BootstrapPagination::Rails %>
</div>
