<div class="container">
  <h1 class="header">
    Результаты поиска <span class="badge"><%= @total_count %></span>
  </h1>

  <div id="manage_bar">
<% if @nothing_found %>
    <h2 class="h4 text-center">К сожалению, по Вашему запросу ничего найти не удалось</h2>
  </div>
</div>
<% else %>
    <div class="text-center">
      <div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary" id="admin_users_search_results">
	  <input type="radio">
	    Респонденты
	    <span class="badge"><%= @users.count %></span>
	  </input>
	</label>
	<label class="btn btn-primary" id="admin_coordinators_search_results">
	  <input type="radio">
	    Координаторы
	    <span class="badge"><%= @coordinators.count %></span>
	  </input>
	</label>
	<label class="btn btn-primary" id="admin_companies_search_results">
	  <input type="radio">
	    Компании
	    <span class="badge"><%= @companies.count %></span>
	  </input>
	</label>
	<label class="btn btn-primary" id="admin_questions_search_results">
	  <input type="radio">
	    Вопросы
	    <span class="badge"><%= @questions.count %></span>
	  </input>
	</label>
      </div>
    </div>
  </div>
</div>
<section id="search_results">
  <div id="users_search_results">
    <% unless @users.blank? %>
      <div class="masonry_container container-fluid">
	<% @users.each do |user| %>
	  <%= render partial: 'shared/user', locals: { user: user, buttons: 'admin/users/buttons' } %>
	<% end %>
      </div>
      <div class="text-center">
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
  <div id="coordinators_search_results">
    <% unless @coordinators.blank? %>
      <div class="masonry_container container-fluid">
	<% @coordinators.each do |coordinator| %>
	  <%= render partial: 'admin/coordinators/coordinator', locals: { coordinator: coordinator } %>
	<% end %>
      </div>
      <div class="text-center">
	<%= will_paginate @coordinators, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
  <div id="companies_search_results">
    <% unless @companies.blank? %>
      <div class="masonry_container container-fluid">
	<% @companies.each do |company| %>
	  <%= render partial: 'admin/companies/company', locals: { company: company } %>
	<% end %>
      </div>
      <div class="text-center">
	<%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
  <div id="questions_search_results">
    <% unless @questions.blank? %>
      <div class="container">
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
	    <% @questions.each do |question| %>
	      <% if question.sentence.blank? %>
		<%= render partial: 'admin/questions/first_question', locals: { question: question } %>
	      <% else %>
		<%= render partial: 'admin/questions/second_question', locals: { question: question } %>
	      <% end %>
	    <% end %>
	  </div>
	</div>
      </div>
      <div class="text-center">
	<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
</section>
<% end %>
