<%= form_for @info, url: info_path do |f| %>
  <%= error_explanation_for @info %>

  <div class="form-group">
    <%= f.label :gender, "Укажите Ваш пол" %>
    <select id="info_gender" class="form-control" name="info[gender]">
      <%= options_for_select(genders, @info.gender) %>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :age, "Ваш возраст" %>
    <select id="info_age" class="form-control" name="info[age]">
      <%= options_for_select(ages, @info.age) %>
    </select>
  </div>

  <% if @companies.blank? %>
    <%= f.hidden_field :company, value: "нет ответа" %>
  <% elsif @companies.size == 1 %>
    <%= f.hidden_field :company, value: @companies.first %>
  <% else %>
    <div class="form-group">
      <%= f.label :company, "Укажите компанию, в которой Вы работаете" %>
      <select id="info_company" class="form-control" name="info[company]">
	<%= options_for_select(@companies, @info.company) %>
      </select>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :experience, "Сколько лет Вы работаете в компании?" %>
    <select id="info_experience" class="form-control" name="info[experience]">
      <%= options_for_select(experiences, @info.experience) %>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :workplace_number, "Какое по счету это место работы для вас?" %>
    <select id="info_workplace_number" class="form-control" name="info[workplace_number]">
      <%= options_for_select(workplace_numbers, @info.workplace_number) %>
    </select>
  </div>

  <% if @work_positions.blank? %>
    <%= f.hidden_field :work_position, value: "нет ответа" %>
  <% elsif @work_positions.size == 1 %>
    <%= f.hidden_field :work_position, value: @work_positions.first %>
  <% else %>
    <div class="form-group">
      <%= f.label :work_position, "Какую должность Вы занимаете в компании?" %>
      <select id="info_work_position" class="form-control" name="info[work_position]">
	<%= options_for_select(@work_positions, @info.work_position) %>
      </select>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Подтвердить", class: 'btn btn-primary btn-lg btn-block surrounded' %>
  </div>
<% end %>
