<%= form_for @info, url: info_path do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.size, 'error') %> prohibited this user from being saved!</h2>
      <ul>
	<% @info.errors.full_messages.each do |error| %>
	  <li><%= error %></li>
	<% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h3>Укажите Ваш пол</h3>
    <div class="radio">
      <label>
	<%= f.radio_button :gender, 'мужской', checked: 'checked' %>
	Мужской
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :gender, 'женский' %>
	Женский
      </label>
    </div>
  </div>

  <div class="form-group">
    <h3>Сколько лет Вы работаете в данной компании?</h3>
    <div class="radio">
      <label>
	<%= f.radio_button :experience, 'меньше 1 года', checked: 'checked' %>
	Меньше 1 года
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :experience, 'от 1 года до 3х лет' %>
	От 1 года до 3х лет
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :experience, 'от 3х до 5ти лет' %>
	От 3х до 5ти лет
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :experience, 'более 5ти лет' %>
	Более 5ти лет
      </label>
    </div>
  </div>

  <div class="form-group">
    <h3>Ваш возраст</h3>
    <div class="radio">
      <label>
	<%= f.radio_button :age, 'менее 25 лет', checked: 'checked' %>
	Менее 25 лет
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :age, 'от 25 до 30 лет' %>
	От 25 до 30 лет
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :age, 'от 30 до 40 лет' %>
	От 30 до 40 лет
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :age, 'от 40 до 55 лет' %>
	От 40 до 55 лет
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :age, 'более 55 лет' %>
	Более 55 лет
      </label>
    </div>
  </div>

  <div class="form-group">
    <h3>Какое по счету это место работы для вас?</h3>
    <div class="radio">
      <label>
	<%= f.radio_button :workplace_number, 'первое', checked: 'checked' %>
	Первое
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :workplace_number, 'второе' %>
	Второе
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :workplace_number, 'третье' %>
	Третье
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :workplace_number, 'больше третьего' %>
	Больше третьего
      </label>
    </div>
  </div>

  <div class="form-group">
    <h3>Какую должность Вы занимаете в компании?</h3>
    <div class="radio">
      <label>
	<%= f.radio_button :work_position, 'рабочая должность', checked: 'checked' %>
	Рабочая должность
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :work_position, 'производственный руководитель' %>
	Производственный руководитель
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :work_position, 'работник офиса' %>
	Работник офиса
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :work_position, 'руководитель отдела' %>
	Руководитель отдела
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :work_position, 'топ-менеджер' %>
	Топ-менеджер
      </label>
    </div>
  </div>

  <div class="form-group">
    <h3>Укажите компанию, в которой Вы работаете</h3>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'ГК Управдом', checked: 'checked' %>
	ГК Управдом
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'ГК ДУК' %>
	ГК ДУК
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'ГК Дзержинские лифты' %>
	ГК Дзержинские лифты
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'ГК Газы' %>
	ГК Газы
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'Рекламные технологии' %>
	Рекламные технологии
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'Таможенный пост' %>
	Таможенный пост
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'Управление недвижимостью' %>
	Управление недвижимостью
      </label>
    </div>
    <div class="radio">
      <label>
	<%= f.radio_button :company, 'Городской парк' %>
	Городской парк
      </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Подтвердить", class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
