<header class="navbar navbar-default">
  <nav class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>

      <% if admin_signed_in? %>
	<%= link_to "Панель управления", admin_root_path, class: 'navbar-brand' %>
      <% elsif coordinator_signed_in? %>
	<%= link_to "Панель управления", coordinator_root_path, class: 'navbar-brand' %>
      <% elsif user_signed_in? %>
	<%= link_to "Новый опрос", surveys_path, method: :post, id: 'new_survey_link', class: 'navbar-brand' %>
      <% else %>
	<%= link_to "Самооценка вовлеченности", root_path, class: 'navbar-brand' %>
      <% end %>

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsed">
      <% if admin_signed_in? %>

	<ul class="nav navbar-nav">
	  <li class="<%= active_link('users') %>">
	    <%= link_to "Респонденты", admin_users_path, id: 'users_link' %>
	  </li>
	  <li class="<%= active_link('coordinators') %>">
	    <%= link_to "Координаторы", admin_coordinators_path, id: 'coordinators_link' %>
	  </li>
	  <li class="<%= active_link('companies') %>">
	    <%= link_to "Компании", admin_companies_path, id: 'companies_link' %>
	  </li>
	  <li class="<%= active_link('questions') %>">
	    <%= link_to "Вопросы", admin_questions_path, id: 'questions_link' %>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li class="<%= active_link('registrations') %>">
	    <%= link_to "Настройки", edit_admin_registration_path %>
	  </li>
	  <li><%= link_to "Выход", destroy_admin_session_path, method: :delete %></li>
	</ul>

      <% elsif coordinator_signed_in? %>
	<ul class="nav navbar-nav">
	  <li class="<%= active_link('surveys') %>">
	    <%= link_to "Опросы", coordinator_surveys_path, id: 'surveys_link' %>
	  </li>
	  <li class="<%= active_link('users') %>">
	    <%= link_to "Респонденты", coordinator_users_path, id: 'users_link' %>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><%= link_to "Выход", destroy_coordinator_session_path, method: :delete %></li>
	</ul>

      <% elsif user_signed_in? %>
	<ul class="nav navbar-nav">
	  <li class="<%= active_link('surveys') unless controller.action_name == 'take' %>">
	    <%= link_to "Завершенные опросы", surveys_path, id: 'all_surveys_link' %>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li class="<%= active_link('infos') %>">
	    <%= link_to "Информация о себе", edit_info_path, id: 'info_link' %>
	  </li>
	  <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
	</ul>
      <% else %>
	<ul class="nav navbar-nav navbar-right">
	  <li class="<%= active_link('sessions') %>">
	    <%= link_to "Вход", login_path %>
	  </li>
	</ul>
      <% end %>
    </div>
  </nav>
</header>
