<header class="navbar navbar-default">
  <nav class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <%= link_to 'Surveys', root_path, id: 'app-title', class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsed">
      <% if user_signed_in? %>
	<ul class="nav navbar-nav">
	  <li class="<%= active_link('surveys', 'new') %>">
	    <%= link_to 'New Survey', new_survey_path %>
	  </li>
	  <li class="<%= active_link('surveys', 'index') %>">
	    <%= link_to 'All Surveys', surveys_path %>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><%= link_to "Signed in as #{current_user.login}", edit_info_path %></a></li>
	  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
	</ul>
      <% else %>
	<ul class="nav navbar-nav navbar-right">
	  <% if devise_mapping.registerable? %>
	    <li class="<%= active_link('registrations', 'new') %>">
	      <%= link_to 'Sign up', new_user_registration_path %>
	    </li>
	  <% end %>
	  <li class="<%= active_link('sessions', 'new') %>">
	    <%= link_to 'Sign in', new_user_session_path %>
	  </li>
	</ul>
      <% end %>
    </div>
  </nav>
</header>
