<!DOCTYPE html>
<html>
  <head>
    <title>Самооценка вовлеченности</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/web_console" %>
    <% if controller_path.include? "admin/" %>
      <%= render "shared/messages" %>
      <div class="container-fluid">
	<div class="row">
	  <aside class="col-md-3">
	    <%= render 'admin/sidebar' %>
	  </aside>
	  <section class="col-md-9">
	    <%= yield %>
	  </section>
	</div>
      </div>
    <% else %>
      <%= render "layouts/header" %>
      <%= render "shared/messages" %>
      <div class="container">
	<div class="row">
	  <div class="<%= set_class_for_layout %>">
	    <%= yield %>
	  </div>
	</div>
      </div>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
